.img-banner{
    width:100%;
    height:20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rltv-sdbr{
    position:relative
}
.fll-desk .ctn-sdbr{
    width:30rem!important;
}
.line{
    margin:4rem 0;
    border:1px solid gray
}
.desk-txt p{
    width:50rem;
    margin-top:10px;
}

/* Image */
.desk-img{
    width:15rem;
    height:20rem;
}
.wrp-img{
    width:max-content;
    position:absolute;
    top: -10rem;
    right:0;
    left:0;
    margin:auto;
}

/* Info */
.desk-inf{
    padding-bottom:50px;
}
.inf-mvi{
    margin:10px 0;
}
.inf-mvi span:nth-child(1){
    margin-right:10px;
}